body {
    display: flex;
    position: relative;
    justify-content: center;
    background-color: white;
    font-size: 20px;
    color: black;
}

.play_field {
   display: table;
    position: absolute;
    top: 50px;
    width: 1250px;
    height: 625px;
}

.table_row {
    display: table-row;
}
.table_col:empty {
    display: table-cell;
}
.table_col.table_border {
    background-color: #654321;
}

.dark {
    background-color: darkgreen;
}

.light {
    background-color: green;
}

.snake {
    background-color: blue;
}