{% extends 'layout.html' %}

{% block content %}

    <label for='current_score'>Current score:</label>&nbsp;
    <input class="current_score" id='current_score' value="0" disabled>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <label for='high_score'>Highest score:</label>&nbsp;
    <input class="high_score" id="high_score" value="1042232" disabled>

    <div class="play_field">
        {% for row in range(rows) %}
                    <div class="table_row">
                {% if row % 2 == 0 %}
                    {% for col in range(cols) %}
                        {% if col % 2 == 0 %}
                            <div class="table_col light" data-row ='{{ row }}' data-col = {{ col }}></div>
                        {% else %}
                            <div class="table_col dark" data-row = '{{ row }}' data-col = {{ col }}></div>
                        {% endif %}

                    {% endfor %}
                {% else %}
                    {% for col in range(cols) %}
                        {% if col % 2 == 0 %}
                            <div class="table_col dark" data-row = '{{ row }}' data-col = {{ col }}></div>
                        {% else %}
                            <div class="table_col light" data-row = '{{ row }}' data-col = {{ col }}></div>
                        {% endif %}

                    {% endfor %}
                {% endif %}

                </div>
        {% endfor %}
    </div>


{% endblock %}